<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Temporary Issue by nodethirtythree + Templated.org
	http://templated.org/ | @templatedorg
	Released under the Creative Commons Attribution 3.0 License.
	
	Note from the author: These templates take quite a bit of time to conceive,
	design, and finally code. So please, support our efforts by respecting our
	license: keep our footer credit links intact so people can find out about us
	and what we do. It's the right thing to do, and we'll love you for it :)
	
-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<%= page_header %>
		<title><%=h page_title %></title>
  		<%= stylesheet_link_tag '/stylesheets/theme/style.css', :media => 'all' %>
  		<%= stylesheet_link_tag '/stylesheets/theme/bootstrap.min.css', :media => 'all' %>
  		<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Arvo' %>
  		<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Bitter' %>
	</head>
	<body>
		<div id="outer">
			<div id="header">
				<div id="logo">
					<h1><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
            		<h2><%= this_blog.blog_subtitle %></h2>
				</div>
				<div id="search">
					<form action="" method="post">
						<fieldset>
							<input class="text" name="search" size="40" maxlength="128" />
						</fieldset>
					</form>
				</div>
				<div id="nav">
					<ul>
						<li class="first page_item <%= 'current_page_item' if (controller.controller_name == "articles" and controller.action_name == "index") %>">
		                    <%= link_to _("Home"), this_blog.base_url %>
		                </li>
		                <li class="page_item <%= 'current_page_item' if (controller.action_name != 'index' and controller.action_name != 'view_page') %>">
		                    <%= link_to _("Articles"), {:controller => "articles", :action => "archives"} if (controller.controller_name != "index" )%>
		                </li>
		                <li class="last page_item <%= 'current_page_item' if (controller.controller_name == "articles" and controller.action_name == "view_page" and params[:name].to_s == 'about') %>">
		                    <%= link_to _("About"), this_blog.base_url + "/pages/about" %>
		                </li>
					</ul>
				</div>
			</div>
			<div id="main">
				<div id="content">
					<%= yield %>
     				<%= javascript_tag 'show_dates_as_local_time()' %>
					<br class="clear" />
				</div>
				<div id="sidebar2">
					<%= render_sidebars %>
				</div>
				<br class="clear" />
			</div>
			<div id="footer">
				<div id="footerContent">
					<h3>
						Suspendisse non commodo
					</h3>
					<p>
						Nisl iaculis arcu cubilia vitae. Suspendisse proin enim feugiat aenean aliquet proin quam. Risus 
						placerat nisl sapien donec velit ornare cursus. Massa rhoncus fringilla eu aliquam. Facilisis orci 
						tristique iaculis ridiculus tellus. Odio nibh mauris velit nullam. Placerat hendrerit montes ligula 
						aenean cras. Eget augue tempus ipsum feugiat. Curae pellentesque penatibus dis velit. Augue felis 
						nisl vel natoque duis mollis diam. Nullam sollicitudin massa curabitur. Lorem ipsum dolor sit amet
						nullam consequat etiam arcu cubilia cursus massa eu aliquam. Orci tristique velit nullam sed
						etiam tellus odio nibh mauris.
					</p>
				</div>
				<div id="footerSidebar2">
					<h3>
						Turpis mus elit
					</h3>
					<ul>
						<li class="first">
							<a href="#">Felis duis aliquam</a>
						</li>
						<li>
							<a href="#">Convallis sed auctor</a>
						</li>
						<li>
							<a href="#">Blandit sed tempus</a>
						</li>
						<li class="last">
							<a href="#">Duis et hendrerit</a>
						</li>
					</ul>
				</div>
				<div id="footerSidebar1">
					<h3>
						Etiam mollis
					</h3>
					<ul>
						<li class="first">
							<a href="#">Sed lacinia cubilia</a>
						</li>
						<li>
							<a href="#">Risus euismod fusce</a>
						</li>
						<li>
							<a href="#">Malesuada molestie</a>
						</li>
						<li class="last">
							<a href="#">Felis dolore nullam</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="copyright">
			&copy; <%= this_blog.blog_name %> | Design: <a href="http://templated.org/free-css-templates/temporaryissue/">Temporary Issue</a> by <a href="http://nodethirtythree.com">nodethirtythree</a> + <a href="http://templated.org/">Templated.org</a> | Sponsor: <a href="http://www.4templates.com/">Business Website Templates</a>
		</div>
	</body>
</html>